POSTGRES_PORT=15432
POSTGRES_DB=second_brain_clean
POSTGRES_USER=second_brain
POSTGRES_PASSWORD=second_brain
POSTGRES_VOLUME_NAME=infra_postgres_data
POSTGRES_VOLUME_EXTERNAL=false

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_VOLUME_NAME=infra_minio_data
MINIO_VOLUME_EXTERNAL=false
